beautifulsoup4
Django==1.9.8
factory-boy
requests
selenium
configparser
django-encrypted-fields-python3
django-chartit2
django-braces
django-extensions
werkzeug

# local webserver for serving django
gunicorn

# postgres requirement
psycopg2
