/*@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);*/

@font-face {
    font-family: Gotham;
    font-weight: normal;
    src: url('../fonts/Gotham-Thin.otf') format('otf');
}
@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url('../fonts/Gotham-Bold.otf') format('otf');
}
@font-face {
    font-family: Gotham;
    font-style: italic;
    src: url('../fonts/Gotham-ThinItalic.otf') format('otf');
}
@font-face {
    font-family: Sugarcubes;
    font-weight: normal;
    src: url('../fonts/SugarcubesRegular.ttf') format('truetype');
}
@font-face {
    font-family: Sugarcubes;
    font-weight: bold;
    src: url('../fonts/SugarcubesBold.ttf') format('truetype');
}


body {
    font-family: Gotham, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(177, 180, 151, 0.35);
    padding-bottom: 10rem;
}

var { font-style: inherit; }

label { font-weight: inherit !important; }

.overlay {
    background-color: rgba(255,255,255,0.6);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}
    .overlay span {
        align-items: center; /* align vertical */
        display: flex;
        height: 100%;
        justify-content: center; /* align horizontal */
        padding-bottom: 150px;
        z-index:5;
    }
    .overlay #loading-img {
        background: url("../img/loading.gif") white no-repeat center;
        background-size: 300px;
        border: 2px solid #239123;
        left: 40%;
        padding: 10px;
        position: absolute;
        top: 40%;
    }

#logo {
    width: 100%;
    margin: 15px 0 25px 0;
}

h1 {
    font-family: Sugarcubes, serif;
    font-weight: bold;
}

h1 form {
    display: inline-block;
    float: right;
}



h2 span.glyphicon {
    background-color: transparent;
    font-size: 24px !important;
}

span.glyphicon.alert-success,
span.glyphicon.alert-danger {
    background-color: transparent;
}

p { text-align: justify; }

a {
    color: #239123;
    cursor: pointer;
}

    a:focus, a:hover, a:active { color: #1b6f1b; }

ul.nav li span { margin-right: 2rem; }

    ul.nav li .glyphicon-ofm {
        margin-right: 0.5rem;
        position: relative;
        top: -0.3rem;
        left: -0.75em;
    }

.glyphicon-ofm img {
    height: 2rem;
    vertical-align: top;
}

ul.nav-sub {  padding-left: 10%; }


.table { background-color: white; }

    .table thead th .both,
    .table thead th .asc,
    .table thead th .desc {
        background-image: none;
        padding: 8px;
    }
        .table thead th .both::after,
        .table thead th .asc::after,
        .table thead th .desc::after {
            font-family: 'Glyphicons Halflings';
            color: #239123;
            font-size: 0.8em;
            padding: 8px;
            left: 10px;
            position: relative;
        }
        .table thead th .both::after { content: '\e150'; }
        .table thead th .asc::after { content: '\e113'; }
        .table thead th .desc::after { content: '\e114'; }
        .flaticon-football-yellow-warning-card { color: orange; }
        .flaticon-football-card-with-cross-mark { color: red; }
        .table th span { font-size: 1.3em; }
        .table td span.users-team { text-decoration: underline; }
        .table td span.match_scheduled,
        .table td span.match_won,
        .table td span.match_lost,
        .table td span.match_draw { background-color: transparent; }
        .table th img { height: 1.7em; width: auto; }

    #stadium-stand-table>tbody>tr:last-child {
        border-top-style: double;
        border-top-width: 5px;
    }

#matches_summary span.headline {
    font-size: 1.2em;
    margin-right: 20px;
}
#matches_summary span { background-color: transparent; }
#matches_summary .separator {
    margin: 0 15px;
    color: rgba(177, 180, 151, 1);
    font-weight: bold;
}

.bootstrap-switch.bootstrap-switch-focused,
.form-control:focus {
    border-color: #239123;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(35,145,35,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(35,145,35,.6);
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline-color: #239123; }

/* little pie chart */
.pie {
    display: inline-block;
    position: relative;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: #AAA linear-gradient(to right, transparent 50%, #239123 0);
    color: transparent;
    text-align: center;
    margin-left: 10px;
}
@keyframes spin { to { transform: rotate(.5turn); } }
@keyframes bg { 50% { background: #239123; } }

.pie::before {
    content: '';
    position: absolute;
    top: 0; left: 50%;
    width: 50%; height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: spin 50s linear infinite, bg 100s step-end infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}

#PlayerDetails { margin-bottom: 25px; }
    #PlayerDetails span { font-size: 1.3em; }

.slider-handle { background: #1b6f1b; }
.slider-selection {
    background-image: -webkit-linear-gradient(top,#239123 0,#239123 100%);
    background-image: -o-linear-gradient(top,#239123 0,#239123 100%);
    background-image: linear-gradient(to bottom,#239123 0,#239123 100%);
}

#StadiumConfigFilter li { font-family: monospace; }
#StadiumConfigFilter a.selected { background-color: rgba(177, 180, 151, 0.5); }
#StadiumConfigFilter button { font-weight: bold; }
#StadiumConfigFilter .separator {
    margin: 0 5px;
    color: rgba(177, 180, 151, 0.5);
    font-weight: bold;
}
#StadiumConfigFilter .stadium_config_general:not(:first-child) { margin-left: 15px; }
#StadiumConfigFilter .stand_capacity {
    width: 6ex;
    display: inline-block;
    text-align: right;
}

.clear_filter .alert-danger { background-color: transparent; }

.panel-title { font-size: 20px; }
    .panel-title .glyphicon { width: 50px; }


#checklist_items { width: 100%; }
.checklist_item_name {
    display: inline-block;
    width: 80%;
    margin: 5px 5px;
}

.checklist_item_container { background-color: rgba(255, 255, 255, 0.5); }
#checklist_items .checklist_item_container .checklist_item_inversion_container {
    display: inline-block;
    float: right;
}
#checklist_items .checklist_item_container .checklist_item_inversion_container span.glyphicon { margin-right: 15px; }
#checklist_items .checklist_item_container .checklist_item_inversion_container span.glyphicon-check { color: #239123; }

#add_checklist_item { margin: 5px; }
.delete_checklist_item {
    cursor: pointer;
    font-size: 1.5em;
    vertical-align: middle;
}

#checklist_items_priority_saved.invisible,
.checklist_item_saved.invisible {
    opacity: 0;
    transition: opacity 300ms linear;
}
#checklist_items_priority_saved,
.checklist_item_saved {
    font-size: 1.5em;
    opacity: 1;
    right: 35px;
    top: 5px;
    transition: opacity 300ms linear;
}
#checklist_items_priority_saved { right:0; }

#checklist_items .dropdown {
    display: inline-flex;
    margin: 0 15px 10px 25px;
}
    #checklist_items .dropdown-menu>.active>a,
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover { background-color: #239123; }

.checklist_item_matchdays,
.checklist_item_matchday_pattern {
    display: inline-flex;
    margin-left: 15px;
    width: 50px;
}
.checklist_item_matchdays { width: 200px; }

.checklist_item_priority_handle {
    cursor: move;
    color: #239123;
    font-size: 1.3em;
    vertical-align: middle;
    width: 20px;
}


#ChecklistBar {
    padding: 0;
    background-color: #eee;
}

    #ChecklistBar .current_matchday {
        float: right;
        margin: 0;
    }
    #ChecklistBar .glyphicon { margin-right: 5px; }

#ChecklistSubMenu { padding: 0 10px 10px 20px; }
    #ChecklistSubMenu li {
        cursor: pointer;
        padding: 2px 2px 2px 5px;
    }
        #ChecklistSubMenu li:hover { background-color: #f5f5f5; }
        #ChecklistSubMenu li span.glyphicon { margin-right: 15px; }
        #ChecklistSubMenu li span.glyphicon-check { color: #239123; }

#ParsingSettings { list-style: none; }
    #ParsingSettings li {
        cursor: pointer;
        padding: 2px 2px 2px 5px;
    }
        #ParsingSettings li:hover { background-color: #f5f5f5; }
        #ParsingSettings li span.glyphicon { margin-right: 15px; }
        #ParsingSettings li span.glyphicon-check { color: #239123; }
        #ParsingSettings li span.subitem { margin-left: 25px; }
        #ParsingSettings li span.sub-subitem { margin-left: 50px; }
        #ParsingSettings li.disabled {
            cursor: default;
            color: darkgray;
        }


.spinner input { text-align: right; }
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px 11px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child { border-top-right-radius: 4px; }

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}



footer.footer {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #239123;
    background-color: white;
}

    footer.footer p { text-align: center; }

    footer.footer #WiSch-logo {
        margin-top: -0.25rem;
        margin-left: 5px;
        height: 1.5rem;
    }
