@font-face {
    font-family: Gotham;
    font-weight: normal;
    src: url('../fonts/Gotham-Thin.otf') format('otf');
}
@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url('../fonts/Gotham-Bold.otf') format('otf');
}
@font-face {
    font-family: Gotham;
    font-style: italic;
    src: url('../fonts/Gotham-ThinItalic.otf') format('otf');
}
@font-face {
    font-family: Sugarcubes;
    font-weight: normal;
    src: url('../fonts/SugarcubesRegular.ttf') format('truetype');
}
@font-face {
    font-family: Sugarcubes;
    font-weight: bold;
    src: url('../fonts/SugarcubesBold.ttf') format('truetype');
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(177, 180, 151, 0.35);
    padding-bottom: 10rem;
}

#logo {
    width: 100%;
    margin: 15px 0 25px 0;
}

h1 {
    font-family: Sugarcubes, serif;
    font-weight: bold;
}

p {
    text-align: justify;
}

a {
    color: #239123;
}

    a:hover {
        color: #1b6f1b;
    }

ul.nav li span {
    margin-right: 2rem;
}

    ul.nav li span.glyphicon-ofm {
        margin-right: 0.5rem;
        position: relative;
        top: -0.3rem;
        left: -0.75em;
    }

        ul.nav li span.glyphicon-ofm img {
            height: 2rem;
        }

ul.nav-sub {
    padding-left: 10%;
}

footer.footer {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #239123;
    background-color: white;
}

    footer.footer p {
        text-align: center;
    }

    footer.footer #WiSch-logo {
        margin-top: -0.25rem;
        margin-left: 5px;
        height: 1.5rem;
    }