@font-face {
    font-family: Gotham;
    font-weight: normal;
    src: url('../fonts/Gotham-Thin.otf') format('otf');
}
@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url('../fonts/Gotham-Bold.otf') format('otf');
}
@font-face {
    font-family: Gotham;
    font-style: italic;
    src: url('../fonts/Gotham-ThinItalic.otf') format('otf');
}
@font-face {
    font-family: Sugarcubes;
    font-weight: normal;
    src: url('../fonts/SugarcubesRegular.ttf') format('truetype');
}
@font-face {
    font-family: Sugarcubes;
    font-weight: bold;
    src: url('../fonts/SugarcubesBold.ttf') format('truetype');
}

body {
    font-family: Gotham, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgba(177, 180, 151, 0.35);
}

#logo {
    width: 100%;
    margin: 15px 0 25px 0;
}

h1 {
    font-family: Sugarcubes, serif;
    font-weight: bold;
}

p {
    text-align: justify;
}

a {
    color: #239123;
}

a:hover {
    color: #1b6f1b;
}

ul.nav li span {
    margin-right: 8%;
}

ul.nav li span.glyphicon-ofm {
    margin-right: 3.5%;
}

ul.nav li span.glyphicon-ofm img {
    height: 2rem;
    position: relative;
    top: -0.5rem;
    left: -1em;
}

ul.nav-sub {
    margin-left: 15%;
}

footer.footer {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid #239123;
    background-color: white;
}

    footer.footer p {
        text-align: center;
    }

    footer.footer #WiSch-logo {
        margin-left: 5px;
        height: 1em;
    }