{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    <h1 class="page-header">Deine Finanzen</h1>

    {% if matchdays|length > 1 %}
        <div id="table-toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="diff_toggle" name="diff_toggle" type="checkbox" data-on-text="AN" data-off-text="AUS" data-on-color="success" data-size="small">
                    <label for="diff_toggle">Zeige die Daten vom </label>

                    <select class="form-control" id="newer_matchday">
                        {% with matchdays|length|add:-1 as len %}
                            {% with len|stringformat:"s" as len_str %}
                                {% with "0:"|add:len_str as slicinator %}
                                    {% for m in matchdays|slice:slicinator %}
                                        <option value="{{ m.season.number }}/{{ m.number }}">{{ m.season.number }} / {{ m.number }}</option>
                                    {% endfor %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </select>
                    <span id="matchday_compare" class="hide">
                        im Vergleich zu
                        <select class="form-control" id="older_matchday">
                            {% with matchdays|length as len %}
                                {% with len|stringformat:"s" as len_str %}
                                    {% with "1:"|add:len_str as slicinator %}
                                        {% for m in matchdays|slice:slicinator %}
                                            <option value="{{ m.season.number }}/{{ m.number }}">{{ m.season.number }} / {{ m.number }}</option>
                                        {% endfor %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    {% endif %}

    <h2><span class="glyphicon glyphicon-euro"></span> Bilanz</h2>

    <table id='finances_balance_table' class="table table-bordered table-striped table-hover statistics_table"
       data-toggle="table"
       data-sort-name="balance"
       data-sort-order="desc"
       data-query-params="queryParams"
       data-url="{% url 'core:ofm:finances_json' %}">
        <thead id="finances_balance_table_head" class="hide">
            <tr>
                <th data-field="balance" data-formatter="balanceFormatter">Bilanz</th>
            </tr>
        </thead>
    </table>

    <h2><span class="glyphicon glyphicon-plus alert-success"></span> Einnahmen</h2>

    <table id='finances_income_table' class="table table-bordered table-striped table-hover statistics_table"
       data-toggle="table"
       data-sort-name="income_visitors_league"
       data-sort-order="desc"
       data-query-params="queryParams"
       data-url="{% url 'core:ofm:finances_json' %}">
        <thead id="finances_income_table_head">
            <tr>
                <th data-field="income_visitors_league" data-formatter="balanceFormatter">Zuschauer Ligaspiele</th>
                <th data-field="income_sponsoring" data-formatter="balanceFormatter">Sponsoren</th>
                <th data-field="income_cup" data-formatter="balanceFormatter">Pokal</th>
                <th data-field="income_interests" data-formatter="balanceFormatter">Zinsen</th>
                <th data-field="income_loan" data-formatter="balanceFormatter">Kredit</th>
                <th data-field="income_transfer" data-formatter="balanceFormatter">Transfer</th>
                <th data-field="income_visitors_friendlies" data-formatter="balanceFormatter">Zuschauer Friendlies</th>
                <th data-field="income_friendlies" data-formatter="balanceFormatter">Friendlies</th>
                <th data-field="income_funcup" data-formatter="balanceFormatter">Prämien FunCups</th>
                <th data-field="income_betting" data-formatter="balanceFormatter">Wetten</th>
            </tr>
        </thead>
    </table>

    <h2><span class="glyphicon glyphicon-minus alert-danger"></span> Ausgaben</h2>

    <table id='finances_expenses_table' class="table table-bordered table-striped table-hover statistics_table"
       data-toggle="table"
       data-sort-name="expenses_player_salaries"
       data-sort-order="desc"
       data-query-params="queryParams"
       data-url="{% url 'core:ofm:finances_json' %}">

        <thead id="finances_expenses_table_head">
            <tr>
                <th data-field="expenses_player_salaries" data-formatter="balanceFormatter">Spielergehälter</th>
                <th data-field="expenses_stadium" data-formatter="balanceFormatter">Stadionausbau</th>
                <th data-field="expenses_youth" data-formatter="balanceFormatter">Jugendförderung</th>
                <th data-field="expenses_interests" data-formatter="balanceFormatter">Zinsen</th>
                <th data-field="expenses_trainings" data-formatter="balanceFormatter">Trainingslager</th>
                <th data-field="expenses_transfer" data-formatter="balanceFormatter">Transfer</th>
                <th data-field="expenses_compensation" data-formatter="balanceFormatter">Abfindungen</th>
                <th data-field="expenses_friendlies" data-formatter="balanceFormatter">Friendlies</th>
                <th data-field="expenses_funcup" data-formatter="balanceFormatter">FunCups</th>
                <th data-field="expenses_betting" data-formatter="balanceFormatter">Wetten</th>
            </tr>
        </thead>
    </table>

    <script>
        var JSON_URL = "{% url 'core:ofm:finances_json' %}";
    </script>
    <script src="{% static 'core/js/table_formats.js' %}"></script>

    <script>
        var column_chart_options = {
            chart: {
                type: 'column'
            },
            title: {},
            xAxis: {
                title: {
                    text: 'Spieltag'
                },
                categories: []
            },
            yAxis: {
                title: {
                    text: ' '
                }
            },
            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
            series: []
        };
        var income_chart_options = column_chart_options;
        var expenses_chart_options = column_chart_options;

        $(function () {
            var newer_matchday_season = $("#newer_matchday").val().split("/")[0];
            requestChartData(newer_matchday_season);
        });

        function requestChartData(season_number) {
            $.ajax({
                type: "GET",
                url: "{% url 'core:ofm:finances_income_chart_json' %}",
                data: {season_number: season_number},
                dataType: 'json',
                success: function (data) {
                    income_chart_options.series = data['series'];
                    income_chart_options.xAxis.categories = data['categories'];
                    income_chart_options.title.text='Einnahmen der Saison ' + season_number;
                    $('#income_chart_container').highcharts(income_chart_options);
                }
            });

            $.ajax({
                type: "GET",
                url: "{% url 'core:ofm:finances_expenses_chart_json' %}",
                data: {season_number: season_number},
                dataType: 'json',
                success: function (data) {
                    expenses_chart_options.series = data['series'];
                    expenses_chart_options.xAxis.categories = data['categories'];
                    expenses_chart_options.title.text='Ausgaben der Saison ' + season_number;
                    $('#expenses_chart_container').highcharts(expenses_chart_options);
                }
            });
        }

        $('#newer_matchday').on('change', function () {
            var newer_matchday_season = $("#newer_matchday").val().split("/")[0];
            requestChartData(newer_matchday_season);
        });
    </script>

    <h1>Saisonverlauf</h1>
    <div id="chart_container"></div>
    <br>
    <div id="income_chart_container"></div>
    <br>
    <div id="expenses_chart_container"></div>

{% endblock %}
