{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    <h1 class="page-header">
        Deine Spiele
        <form class="parseTrigger" action="{% url 'core:trigger_match_parsing' %}" method="get">{% csrf_token %}</form>
    </h1>

    <p id="matches_summary">
        <span class="headline">Bilanz der aktuellen Saison {{ seasons|first }}:</span>
        <span class="alert-success">gewonnen: {{ matches_won }}</span><span class="separator">|</span>
        <span class="alert-warning">unentschieden: {{ matches_draw }}</span><span class="separator">|</span>
        <span class="alert-danger">verloren: {{ matches_lost }}</span>
    </p>

    {% if seasons|length > 1 %}
        <div id="table-toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <label for="season">Zeige die Daten von Saison </label>

                    <select class="form-control" id="season">
                        {% for season in seasons %}
                            <option value="{{ season }}">{{ season }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

    <table id='matches_table' class="table table-bordered table-striped table-hover statistics_table"
           data-toolbar="#table-toolbar"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true"
           data-query-params="queryParams"
           data-url="{% url 'core:ofm:matches_overview_json' %}">
        <thead id="matches_table_head">
            <tr>
                <th data-field="matchday" data-sortable="true"><span class="glyphicon glyphicon-calendar"></span></th>
                <th data-field="home_team" data-sortable="true"><span class="table-icon glyphicon glyphicon-home"></span></th>
                <th data-field="guest_team" data-sortable="true"><img src="{% static 'core/img/bus.svg' %}" height="16px"/></th>
                <th data-field="result" data-sortable="false"><span class="flaticon-goal"></span></th>
                <th data-field="home_strength" data-sortable="true"><span class="glyphicon glyphicon-home"></span> Stärke</th>
                <th data-field="guest_strength" data-sortable="true"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> Stärke</th>
                <th data-field="home_ball_possession" data-sortable="true" data-visible="false"><span class="glyphicon glyphicon-home"></span> Ballbesitz</th>
                <th data-field="guest_ball_possession" data-sortable="true" data-visible="false"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> Ballbesitz</th>
                <th data-field="home_chances" data-sortable="true" data-visible="false"><span class="glyphicon glyphicon-home"></span> Chancen</th>
                <th data-field="guest_chances" data-sortable="true" data-visible="false"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> Chancen</th>
                <th data-field="home_yellow_cards" data-sortable="true" data-visible="false"><span class="glyphicon glyphicon-home"></span> <span class="flaticon-football-yellow-warning-card"></span></th>
                <th data-field="guest_yellow_cards" data-sortable="true" data-visible="false"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> <span class="flaticon-football-yellow-warning-card"></span></th>
                <th data-field="home_red_cards" data-sortable="true" data-visible="false"><span class="glyphicon glyphicon-home"></span> <span class="flaticon-football-card-with-cross-mark"></span></th>
                <th data-field="guest_red_cards" data-sortable="true" data-visible="false"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> <span class="flaticon-football-card-with-cross-mark"></span></th>
                <th data-field="venue" data-sortable="true"><span class="glyphicon glyphicon-map-marker"></span></th>
            </tr>
        </thead>
    </table>

    <script>
        var JSON_URL = '{% url 'core:ofm:matches_overview_json' %}';
    </script>

    <script src="{% static 'core/js/table_formats.js' %}"></script>

    <script src="{% static 'core/js/parsing_overlay.js' %}"></script>

{% endblock %}
