{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    <h1 class="page-header">Deine Spiele</h1>

    {% if seasons|length > 1 %}
        <div id="table-toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="diff_toggle" name="diff_toggle" type="checkbox" data-on-text="AN" data-off-text="AUS" data-on-color="success" data-size="small">
                    <label for="diff_toggle">Zeige die Daten vom </label>

                    <select class="form-control" id="season">
                        {% for s in seasons %}
                            <option value="{{ s.number }}">{{ s.number }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    {% endif %}

    <table id='matches_table' class="table table-bordered table-striped table-hover"
           data-toolbar="#table-toolbar"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true"
           data-query-params="queryParams"
           data-url="{% url 'core:ofm:matches_overview_json' %}">
        <thead id="matches_table_head">
            <tr>
                <th data-field="matchday" data-sortable="true"><span class="glyphicon glyphicon-calendar"></span></th>
                <th data-field="home_team" data-sortable="true"><span class="table-icon glyphicon glyphicon-home"></span></th>
                <th data-field="guest_team" data-sortable="true"><span>🚌</span></th>
                <th data-field="result" data-sortable="false"><span class="flaticon-goal"></span></th>
                <th data-field="home_strength" data-sortable="true">Stärke <span class="glyphicon glyphicon-home"></span></th>
                <th data-field="guest_strength" data-sortable="true">Stärke <span>🚌</span></th>
                <th data-field="home_ball_possession" data-sortable="true" data-visible="false">Ballbesitz <span class="glyphicon glyphicon-home"></span></th>
                <th data-field="guest_ball_possession" data-sortable="true" data-visible="false">Ballbesitz <span>🚌</span></th>
                <th data-field="home_chances" data-sortable="true" data-visible="false">Chancen <span class="glyphicon glyphicon-home"></span></th>
                <th data-field="guest_chances" data-sortable="true" data-visible="false">Chancen <span>🚌</span></th>
                <th data-field="home_yellow_cards" data-sortable="true" data-visible="false"><span class="flaticon-football-yellow-warning-card"></span> <span class="glyphicon glyphicon-home"></span></th>
                <th data-field="guest_yellow_cards" data-sortable="true" data-visible="false"><span class="flaticon-football-yellow-warning-card"></span> <span>🚌</span></th>
                <th data-field="home_red_cards" data-sortable="true" data-visible="false"><span class="flaticon-football-card-with-cross-mark"></span> <span class="glyphicon glyphicon-home"></span></th>
                <th data-field="guest_red_cards" data-sortable="true" data-visible="false"><span class="flaticon-football-card-with-cross-mark"></span> <span>🚌</span></th>
                <th data-field="venue" data-sortable="true"><span class="glyphicon glyphicon-map-marker"></span></th>
            </tr>
        </thead>
    </table>

    <script>
        var $table = $('#matches_table'),
                season;

        function updateData(event, data) {
            var params = {};

            if (data) {
                params = {
                    season: season
                };
            } else {
                params = { season: season };
            }

            $.get("{% url 'core:ofm:matches_overview_json' %}", params,
                function(returnedData){
                    $table.bootstrapTable('removeAll');
                    $table.bootstrapTable('load', returnedData);
                }
            );
        }

        $('#season').on('change', function() {
            season = $( "#season" ).val();
            updateData(event, $('#diff_toggle').prop('checked'));
        });


        $('#diff_toggle').bootstrapSwitch('state', false);

        $('#diff_toggle').on('switchChange.bootstrapSwitch', function (event, data) {
            season = $( "#season" ).val();
            var params = {};

            if (data) {
                params = {
                    season: season
                };
            } else {
                params = { season: season };
            }

            $.get("{% url 'core:ofm:matches_overview_json' %}", params,
                function(returnedData){
                    $table.bootstrapTable('removeAll');
                    $table.bootstrapTable('load', returnedData);
                }
            );
        });

        function queryParams() {
            var params = {};
            $('#toolbar').find('input[name]').each(function () {
                params[$(this).attr('name')] = $(this).val();
            });
            return params;
        }
    </script>

{% endblock %}
