{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    <h1 class="page-header">
        Deine Spielerliste
        <form class="parseTrigger" action="{% url 'core:trigger_player_statistics_parsing' %}" method="get">{% csrf_token %}</form>
    </h1>

    {% if matchdays|length > 1 %}
        <div id="table-toolbar">
            <div class="form-inline" role="form">
                <div class="form-group">
                    <input id="diff_toggle" name="diff_toggle" type="checkbox" data-on-text="VERGLEICH" data-off-text="EINZEL" data-on-color="success" data-size="small">
                    <label for="diff_toggle">Zeige die Daten vom </label>

                    <select class="form-control" id="newer_matchday">
                        {% with matchdays|length|add:-1 as len %}
                            {% with len|stringformat:"s" as len_str %}
                                {% with "0:"|add:len_str as slicinator %}
                                    {% for m in matchdays|slice:slicinator %}
                                        <option value="{{ m.season.number }}/{{ m.number }}">{{ m.season.number }} / {{ m.number }}&nbsp;</option>
                                    {% endfor %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </select>
                    <span id="matchday_compare" class="hide">
                        im Vergleich zu
                        <select class="form-control" id="older_matchday">
                            {% with matchdays|length as len %}
                                {% with len|stringformat:"s" as len_str %}
                                    {% with "1:"|add:len_str as slicinator %}
                                        {% for m in matchdays|slice:slicinator %}
                                            <option value="{{ m.season.number }}/{{ m.number }}">{{ m.season.number }} / {{ m.number }}&nbsp;</option>
                                        {% endfor %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        </select>
                    </span>
                </div>
            </div>
        </div>
    {% endif %}

    <table id='player_statistics_table' class="table table-bordered table-striped table-hover statistics_table"
           data-toolbar="#table-toolbar"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true"
           data-sort-name="awp"
           data-sort-order="desc"
           data-query-params="queryParams"
           data-url="{% url 'core:ofm:player_statistics_json' %}">
        <thead id="player_statistics_table_head">
            <tr>
                <th data-field="position"><span class="flaticon-football-list-and-field-outline"></span></th>
                <th data-field="age" data-sortable="true">Alter</th>
                <th data-field="strength" data-sortable="true" data-formatter="numberDiffFormatter">Stärke</th>
                <th data-field="name" data-sortable="true">Name</th>
                <th data-field="ep" data-sortable="true" data-formatter="numberDiffFormatter">EP</th>
                <th data-field="tp" data-sortable="true" data-formatter="numberDiffFormatter">TP</th>
                <th data-field="awp" data-sortable="true" data-formatter="numberDiffFormatter">AWP</th>
                <th data-field="awp_to_next_bound" data-sortable="true" data-formatter="awpDiffFormatter">AWP Diff.</th>
                <th data-field="freshness" data-sortable="true" data-formatter="numberDiffFormatter">Frische</th>
                <th data-field="games_in_season" data-sortable="true">Spiele</th>
                <th data-field="goals_in_season" data-sortable="true"><span class="flaticon-goal"></span></th>
                <th data-field="won_tacklings_in_season" data-sortable="true" data-visible="false">Gewonnene Zweikämpfe</th>
                <th data-field="lost_tacklings_in_season" data-sortable="true" data-visible="false">Verlorene Zweikämpfe</th>
                <th data-field="won_friendly_tacklings_in_season" data-sortable="true" data-visible="false">Gewonnene Friendly Zweikämpfe</th>
                <th data-field="lost_friendly_tacklings_in_season" data-sortable="true" data-visible="false">Verlorene Friendly Zweikämpfe</th>
                <th data-field="yellow_cards_in_season" data-sortable="true" data-visible="false"><span class="flaticon-football-yellow-warning-card"></span></th>
                <th data-field="red_cards_in_season" data-sortable="true" data-visible="false"><span class="flaticon-football-card-with-cross-mark"></span></th>
                <th data-field="equity" data-sortable="true" data-formatter="moneyFormatter">Marktwert</th>
            </tr>
        </thead>
    </table>

    <script>
        var JSON_URL = '{% url 'core:ofm:player_statistics_json' %}';
    </script>

    <script src="{% static 'core/js/table_formats.js' %}"></script>

    <script src="{% static 'core/js/parsing_overlay.js' %}"></script>

{% endblock %}
