{% extends "core/base.html" %}

{% block content %}

    {% if player %}
        <h1 class="page-header">{{ player.name }}</h1>

        Position: {{ player.position }}<br>
        Nationalität: <span class="flag-icon flag-icon-'{{ player.nationality.get_iso }}'"></span> {{ player.nationality }} ({{ player.nationality.get_iso }})<br>
        Geburtssaison: {{ player.birth_season.number }}<br>
    {% else %}
        <h1 class="page-header">Spieler nicht gefunden</h1>
        <p>
            Wir konnten den gesuchten Spieler leider nicht finden oder dieser gehört nicht zu deiner Spielerliste.
        </p>
    {% endif %}

{% endblock %}
