{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    {% if player %}

        <h1 class="page-header">
            {{ player.name }}
            <span id="ChecklistContainer"></span>
        </h1>

        <span class="flaticon-football-player-attempting-to-kick-ball"></span> {{ player.get_position }} ({{ player.position }})<br>
        <span class="flaticon-flaming-football"></span> Stärke: {{ player_strength }}<br>
        <span class="flag-icon flag-icon-{{ player.nationality.get_iso|lower }}"></span> {{ player.nationality }}<br>
        <span class="glyphicon glyphicon-gift"></span> Alter: {{ player_age }}
        <br>
        <br>
        <br>

        {% if seasons|length > 0 %}
            <div id="table-toolbar">
                <div class="form-inline" role="form">
                    <div class="form-group">
                        <label for="season">Zeige die Daten der Saison </label>

                        <select class="form-control" id="season">
                            {% for s in seasons %}
                                <option value="{{ s.number }}">{{ s.number }}&nbsp;</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <br>
        {% endif %}

        <script>
            var season_number = $("#season").val();
        </script>
        <script src="{% static 'core/js/chart_options.js' %}"></script>

        <script>
            var player_chart_options = $.extend( true, {}, chart_options );

            function requestChartData(season_number) {
                $.ajax({
                    type: "GET",
                    url: "{% url 'core:ofm:players_chart_json' %}",
                    data: {season_number: season_number, player_id: "{{player.id}}"},
                    dataType: 'json',
                    success: function (data) {
                        player_chart_options.series = data['series'];
                        player_chart_options.xAxis.categories = data['categories'];
                        player_chart_options.title.text='Spielerdaten der Saison ' + season_number;
                        $('#player_chart_container').highcharts(player_chart_options);
                    }
                });
            }

            $('#season').on('change', function () {
                var season_number = $("#season").val();
                requestChartData(season_number);
            });
        </script>
        <script src="{% static 'core/js/checklist_user_handler.js' %}"></script>

        <div id='player_chart_container'></div>

    {% else %}

        <h1 class="page-header">Spieler nicht gefunden</h1>
        <p>
            Wir konnten den gesuchten Spieler leider nicht finden oder dieser gehört nicht zu deiner Spielerliste.
        </p>

    {% endif %}

{% endblock %}
