{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    <h1 class="page-header">
        Deine Stadionstatistik
        <form class="parseTrigger" action="{% url 'core:trigger_match_parsing' %}" method="get">{% csrf_token %}</form>
    </h1>

    <div id="table-toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <label id="strength-slider-label" for="strength-slider" data-toggle="tooltip" data-placement="top" >Stärke: </label>
                <input id="strength-slider" data-provide="slider" data-slider-max="300" data-slider-value="[{{slider_min}},{{slider_max}}]" data-slider-step="5" type="text"/>

                <label id="tolerance-slider-label" for="tolerance-slider" data-toggle="tooltip" data-placement="top">Toleranz: </label>
                <input id="tolerance-slider" data-provide="slider" data-slider-max="50" data-slider-value="{{tolerance}}" data-slider-step="1" type="text"/>
            </div>
        </div>

        <div id="StadiumConfigFilter" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-filter"></span> Filter nach Stadium-Ausbaustufe <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li class="clear_filter hide"><a href="#" class="selected" data-value=""><span class="glyphicon glyphicon-remove alert-danger"></span> Filter aufheben</a></li>
            {% for s in stadium_configurations %}
                 <li><a href="#" data-value="{{s}}">
                   <span class="stadium_config_general flaticon-football-court-illumination-lamps"></span> {{s.light}}
                   <span class="stadium_config_general flaticon-football-game-on-tv"></span> {{s.screen}}
                   <img class="stadium_config_general" src="{% static 'core/img/parking.svg' %}" height="16px"/> {{s.parking}}
                   <span class="stadium_config_general flaticon-football-badge"></span> {{s.security}}
                   &nbsp;&nbsp;<span class="separator">|</span>&nbsp;&nbsp;
                   <span class="stand_filter_data">
                        Nord:
                        <span class="stand_capacity">{{s.north_capacity}}</span>
                        <img src="{% static 'core/img/roof.svg' %}" height="16px" class="{% if not s.north_has_roof %}invisible{% endif %}"/>
                        <img src="{% static 'core/img/seat.svg' %}" height="16px" class="{% if not s.north_has_seats %}invisible{% endif %}"/>
                   </span>
                   <span class="separator">|</span>
                   <span class="stand_filter_data">
                        Süd:
                        <span class="stand_capacity">{{s.south_capacity}}</span>
                        <img src="{% static 'core/img/roof.svg' %}" height="16px" class="{% if not s.south_has_roof %}invisible{% endif %}"/>
                        <img src="{% static 'core/img/seat.svg' %}" height="16px" class="{% if not s.south_has_seats %}invisible{% endif %}"/>
                   </span>
                   <span class="separator">|</span>
                   <span class="stand_filter_data">
                        West:
                        <span class="stand_capacity">{{s.west_capacity}}</span>
                        <img src="{% static 'core/img/roof.svg' %}" height="16px" class="{% if not s.west_has_roof %}invisible{% endif %}"/>
                        <img src="{% static 'core/img/seat.svg' %}" height="16px" class="{% if not s.west_has_seats %}invisible{% endif %}"/>
                   </span>
                   <span class="separator">|</span>
                   <span class="stand_filter_data">
                        Ost:
                        <span class="stand_capacity">{{s.east_capacity}}</span>
                        <img src="{% static 'core/img/roof.svg' %}" height="16px" class="{% if not s.east_has_roof %}invisible{% endif %}"/>
                        <img src="{% static 'core/img/seat.svg' %}" height="16px" class="{% if not s.east_has_seats %}invisible{% endif %}"/>
                   </span>
                </a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
    <table id='stadium_statistics_table' class="table table-bordered table-striped table-hover statistics_table"
           data-toolbar="#table-toolbar"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true"
           data-query-params="queryParams"
           data-url="{% url 'core:ofm:stadium_statistics_overview_json' %}">
        <thead id="stadium_statistics_table_head">
            <tr>
                <th data-field="season" data-sortable="true"><span class="glyphicon glyphicon-calendar"></span></th>
                <th data-field="matchday" data-sortable="false"><span class="glyphicon glyphicon-calendar"></span></th>
                <th data-field="capacity" data-sortable="true" data-formatter="numberFormatter"><span class="flaticon-football-fan-with-facepaint"></span> Kapazität</th>
                <th data-field="visitors" data-sortable="true" data-formatter="numberFormatter"><span class="flaticon-football-fan-with-facepaint"></span> Zuschauer</th>
                <th data-field="workload" data-sortable="true"><span class="flaticon-football-fan-with-facepaint"></span> Auslastung</th>
                <th data-field="home_strength" data-sortable="true" data-formatter="numberFormatter"><span class="glyphicon glyphicon-home"></span> Stärke</th>
                <th data-field="guest_strength" data-sortable="true" data-formatter="numberFormatter"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> Stärke</th>
                <th data-field="harmonic_strength" data-sortable="true" data-formatter="numberFormatter" title="Harmonisches Mittel der Mannschaftsstärken">Gemittelte Stärke</th>
                <th data-field="earnings" data-sortable="true" data-formatter="moneyFormatter"><span class="glyphicon glyphicon-euro"></span> Einnahmen</th>
                <th data-field="light_level" data-sortable="false" data-visible="false"><span class="flaticon-football-court-illumination-lamps"></span> Flutlicht</th>
                <th data-field="security_level" data-sortable="false" data-visible="false"><span class="flaticon-football-badge"></span> Sicherheit</th>
                <th data-field="screen_level" data-sortable="false" data-visible="false"><span class="flaticon-football-game-on-tv"></span> Anzeigetafel</th>
                <th data-field="parking_level" data-sortable="false" data-visible="false"><img src="{% static 'core/img/parking.svg' %}" height="16px"/> Parkplätze</th>
            </tr>
        </thead>
    </table>

    <script>
        var JSON_URL = '{% url 'core:ofm:stadium_statistics_overview_json' %}';
    </script>

    <script src="{% static 'core/js/stadium_statistics_request_handler.js' %}"></script>
    <script src="{% static 'core/js/table_formats.js' %}"></script>

    <script src="{% static 'core/js/parsing_overlay.js' %}"></script>

{% endblock %}
