{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}

    <h1 class="page-header">Deine Stadionstatistik</h1>

    <div id="table-toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <label>Gemeinsame Stärke Filter:</label>
                <span id="strength-slider-low" class="hidden">low value</span>
                <span id="strength-slider-high" class="hidden">high value</span>
                <input id="strength-slider" type="text"/><br/>
            </div>
        </div>
    </div>

    <table id='stadium_statistics_table' class="table table-bordered table-striped table-hover statistics_table"
           data-toolbar="#table-toolbar"
           data-toggle="table"
           data-search="true"
           data-show-refresh="true"
           data-show-columns="true"
           data-query-params="queryParams"
           data-url="{% url 'core:ofm:stadium_statistics_overview_json' %}">
        <thead id="stadium_statistics_table_head">
            <tr>
                <th data-field="matchday" data-sortable="true"><span class="glyphicon glyphicon-calendar"></span></th>
                <th data-field="capacity" data-sortable="true" data-formatter="numberFormatter"><span class="flaticon-football-fan-with-facepaint"></span> Kapazität</th>
                <th data-field="visitors" data-sortable="true" data-formatter="numberFormatter"><span class="flaticon-football-fan-with-facepaint"></span> Zuschauer</th>
                <th data-field="workload" data-sortable="true"><span class="flaticon-football-fan-with-facepaint"></span> Auslastung</th>
                <th data-field="home_strength" data-sortable="true"><span class="glyphicon glyphicon-home"></span> Stärke</th>
                <th data-field="guest_strength" data-sortable="true"><img src="{% static 'core/img/bus.svg' %}" height="16px"/> Stärke</th>
                <th data-field="harmonic_strength" data-sortable="true" data-formatter="numberFormatter">Gem. Stärke</th>
                <th data-field="earnings" data-sortable="true" data-formatter="numberFormatter"><span class="glyphicon glyphicon-euro"></span> Einnahmen</th>
                <th data-field="light_level" data-sortable="true" data-visible="false"><span class="flaticon-football-court-illumination-lamps"></span> Flutlicht</th>
                <th data-field="security_level" data-sortable="true" data-visible="false"><span class="flaticon-football-badge"></span> Sicherheit</th>
                <th data-field="screen_level" data-sortable="true" data-visible="false"><span class="flaticon-football-game-on-tv"></span> Anzeigetafel</th>
                <th data-field="parking_level" data-sortable="true" data-visible="false"><img src="{% static 'core/img/parking.svg' %}" height="16px"/> Parkplätze</th>
            </tr>
        </thead>
    </table>

    <script>
        var JSON_URL = '{% url 'core:ofm:stadium_statistics_overview_json' %}';

        $("#strength-slider").slider({  min: 0, max: 200, value: [0, 200],
                                        labelledby: ['strength-slider-low', 'strength-slider-high']});
    </script>

    <script src="{% static 'core/js/table_formats.js' %}"></script>

{% endblock %}
