{% extends "core/base.html" %}

{% block content %}

    {% load staticfiles %}
    {% load humanize %}

    <h1 class="page-header">
        Spieltag {{stadium_stat.match.matchday.season.number}}/{{stadium_stat.match.matchday.number}}

        <span id="ChecklistContainer"></span>
    </h1>
    <p>
        <h2>
            {{stadium_stat.match.home_team_statistics.team_name}} - {{stadium_stat.match.guest_team_statistics.team_name}}
            ({{stadium_stat.match.home_team_statistics.score}}:{{stadium_stat.match.guest_team_statistics.score}})
        </h2>
        Mannschaftsstärke: {{ stadium_stat.match.home_team_statistics.strength|floatformat }} : {{ stadium_stat.match.guest_team_statistics.strength|floatformat }}<br>
        Tägliche Kosten: {{stadium_stat.daily_costs|intcomma}} €
    </p>

    <table id="stadium-stand-table" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Tribüne</th>
                <th>Ausbaustufe</th>
                <th>Zuschauer</th>
                <th>Ticket-Preis</th>
                <th>Ticket-Einnahmen</th>
                <th>Zustand</th>
            </tr>
        </thead>
        <tbody>
            {% if north_stand %}
                <tr>
                    <td><a href="{% url 'core:ofm:stadium_stand_statistics' %}?sector=N&season={{stadium_stat.match.matchday.season.number}}">Nord</a></td>
                    <td>
                        <small>{% if north_stand.level.has_seats %} Sitzplätze <img src="{% static 'core/img/seat.svg' %}" height="16px"/> {% else %} Stehplätze {% endif %}</small>
                        {% if north_stand.level.has_roof %} <br><small>überdacht</small> <img src="{% static 'core/img/roof.svg' %}" height="16px"/> {% endif %}
                    </td>
                    <td>
                        {{north_stand.visitors}} / {{north_stand.level.capacity}}
                        <div class="pie" title="{% widthratio north_stand.visitors north_stand.level.capacity 100 %} %"
                         style="animation-delay: -{% widthratio north_stand.visitors north_stand.level.capacity 99.99 %}s">&nbsp;</div>
                        <span class="glyphicon glyphicon-triangle-left"></span>
                        {% widthratio north_stand.visitors north_stand.level.capacity 100 %} %
                    </td>
                    <td>{{north_stand.ticket_price}} €</td>
                    <td>{{north_stand.earnings|intcomma}} €</td>
                    <td class="{% if north_stand.condition < 50 %}danger
                        {% elif north_stand.condition < 70 %}warning
                        {% elif north_stand.condition < 90 %}info
                        {% else %}success{% endif %}">
                        {{north_stand.condition}} %
                    </td>
                </tr>
            {% endif %}
            {% if south_stand %}
                <tr>
                    <td><a href="{% url 'core:ofm:stadium_stand_statistics' %}?sector=S&season={{stadium_stat.match.matchday.season.number}}">Süd</a></td>
                    <td>
                        <small>{% if south_stand.level.has_seats %} Sitzplätze <img src="{% static 'core/img/seat.svg' %}" height="16px"/> {% else %} Stehplätze {% endif %}</small>
                        {% if south_stand.level.has_roof %} <br><small>überdacht</small> <img src="{% static 'core/img/roof.svg' %}" height="16px"/> {% endif %}
                    </td>
                    <td>
                        {{south_stand.visitors}} / {{south_stand.level.capacity}}
                        <div class="pie" title="{% widthratio south_stand.visitors south_stand.level.capacity 100 %} %"
                         style="animation-delay: -{% widthratio south_stand.visitors south_stand.level.capacity 99.99 %}s">&nbsp;</div>
                        <span class="glyphicon glyphicon-triangle-left"></span>
                        {% widthratio south_stand.visitors south_stand.level.capacity 100 %} %
                    </td>
                    <td>{{south_stand.ticket_price}} €</td>
                    <td>{{south_stand.earnings|intcomma}} €</td>
                    <td class="{% if south_stand.condition < 50 %}danger
                        {% elif south_stand.condition < 70 %}warning
                        {% elif south_stand.condition < 90 %}info
                        {% else %}success{% endif %}">
                        {{south_stand.condition}} %
                    </td>
                </tr>
            {% endif %}
            {% if west_stand %}
                <tr>
                    <td><a href="{% url 'core:ofm:stadium_stand_statistics' %}?sector=W&season={{stadium_stat.match.matchday.season.number}}">West</a></td>
                    <td>
                        <small>{% if west_stand.level.has_seats %} Sitzplätze <img src="{% static 'core/img/seat.svg' %}" height="16px"/> {% else %} Stehplätze {% endif %}</small>
                        {% if west_stand.level.has_roof %} <br><small>überdacht</small> <img src="{% static 'core/img/roof.svg' %}" height="16px"/> {% endif %}
                    </td>
                    <td>
                        {{west_stand.visitors}} / {{west_stand.level.capacity}}
                        <div class="pie" title="{% widthratio west_stand.visitors west_stand.level.capacity 100 %} %"
                         style="animation-delay: -{% widthratio west_stand.visitors west_stand.level.capacity 99.99 %}s">&nbsp;</div>
                        <span class="glyphicon glyphicon-triangle-left"></span>
                        {% widthratio west_stand.visitors west_stand.level.capacity 100 %} %
                    </td>
                    <td>{{west_stand.ticket_price}} €</td>
                    <td>{{west_stand.earnings|intcomma}} €</td>
                    <td class="{% if west_stand.condition < 50 %}danger
                        {% elif west_stand.condition < 70 %}warning
                        {% elif west_stand.condition < 90 %}info
                        {% else %}success{% endif %}">
                        {{west_stand.condition}} %
                    </td>
                </tr>
            {% endif %}
            {% if east_stand %}
                <tr>
                    <td><a href="{% url 'core:ofm:stadium_stand_statistics' %}?sector=O&season={{stadium_stat.match.matchday.season.number}}">Ost</a></td>
                    <td>
                        <small>{% if east_stand.level.has_seats %} Sitzplätze <img src="{% static 'core/img/seat.svg' %}" height="16px"/> {% else %} Stehplätze {% endif %}</small>
                        {% if east_stand.level.has_roof %} <br><small>überdacht</small> <img src="{% static 'core/img/roof.svg' %}" height="16px"/> {% endif %}
                    </td>
                    <td>
                        {{east_stand.visitors}} / {{east_stand.level.capacity}}
                        <div class="pie" title="{% widthratio east_stand.visitors east_stand.level.capacity 100 %} %"
                         style="animation-delay: -{% widthratio east_stand.visitors east_stand.level.capacity 99.99 %}s">&nbsp;</div>
                        <span class="glyphicon glyphicon-triangle-left"></span>
                        {% widthratio east_stand.visitors east_stand.level.capacity 100 %} %
                    </td>
                    <td>{{east_stand.ticket_price}} €</td>
                    <td>{{east_stand.earnings|intcomma}} €</td>
                    <td class="{% if east_stand.condition < 50 %}danger
                        {% elif east_stand.condition < 70 %}warning
                        {% elif east_stand.condition < 90 %}info
                        {% else %}success{% endif %}">
                        {{east_stand.condition}} %
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td><b>Gesamt</b></td>
                <td></td>
                <td>
                    {{stadium_stat.visitors}} / {{stadium_stat.capacity}}
                    <div class="pie" title="{% widthratio stadium_stat.visitors stadium_stat.capacity 100 %} %"
                         style="animation-delay: -{% widthratio stadium_stat.visitors stadium_stat.capacity 99.99 %}s">&nbsp;</div>
                    <span class="glyphicon glyphicon-triangle-left"></span>
                    {% widthratio stadium_stat.visitors stadium_stat.capacity 100 %} %
                </td>
                <td></td>
                <td>{{stadium_stat.earnings|intcomma}} €</td>
                <td></td>
            </tr>
        </tbody>

    </table>

    <script src="{% static 'core/js/checklist_user_handler.js' %}"></script>

{% endblock %}
