{% extends "core/base.html" %}

{% block content %}
    {% load staticfiles %}

    <h1 class="page-header">
        Transfers
    </h1>

    <div class="row">
        <div class="col-md-2">
            <select id="TransferGroupByFilter" data-placeholder="Gruppieren nach">
                <option value="Strength">Stärke</option>
                <option value="Age">Alter</option>
                <option value="Position">Position</option>
                <option value="Season">Saison</option>
                <option value="Matchday">Spieltag</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Positionen</label>
            <select id="TransferPositionsFilter" class="transfer-filter" data-placeholder="Positionen" multiple>
            </select>
        </div>

        <div class="col-md-2">
            <label>Alter</label>
            <select id="TransferAgesFilter" class="transfer-filter" data-placeholder="Alter" multiple>
            </select>
        </div>

        <div class="col-md-2">
            <label>Stärke</label>
            <select id="TransferStrengthsFilter" class="transfer-filter" data-placeholder="Stärke" multiple>
            </select>
        </div>

        <div class="col-md-2">
            <label>Saison</label>
            <select id="TransferSeasonsFilter" class="transfer-filter" data-placeholder="Saison" multiple>
            </select>
        </div>

        <div class="col-md-2">
            <label>Spieltag</label>
            <select id="TransferMatchdaysFilter" class="transfer-filter" data-placeholder="Spieltag" multiple>
            </select>
        </div>
    </div>

    <button id="TransferFilterButton">
        Click me!!!
    </button>

    <button id="TransferResetButton">
        Reset me!!!
    </button>

    <script>
        $(function () {
            $('.chosen-select').chosen();
            $('.chosen-select-deselect').chosen({allow_single_deselect: true});
        });

        var groupby = 'Strength';
        var strengths = '';
        var positions = '';
        var ages = '';
        var seasons = '';
        var matchdays = '';

        function resetFilterValues(){
            groupby = 'Strength';
            strengths = '';
            positions = '';
            ages = '';
            seasons = '';
            matchdays = '';
        }

        resetFilterValues();

        var transfers_chart_options =  {
            chart: {
                type: 'boxplot',
                height: 650,
                zoomType: 'xy',
                panKey: 'ctrl',
                panning: true
            },
            title: {
                text: 'Spielerpreise'
            },
            xAxis: {
                categories: [], // has to be overwritten
                title: {
                    text: 'Stärke'
                }
            },
            yAxis: {
                title: {
                    text: 'Preis'
                }
            },
            plotOptions: {
                boxplot: {
                    fillColor: '#F0F0E0',
                    lineWidth: 1.5,
                    medianColor: '#24a52f',
                    medianWidth: 2,
                    stemWidth: 2,
                    whiskerColor: '#24a52f',
                    whiskerLength: '40%'
                }
            },
            series: [] // has to be overwritten
        };

        function fillFilterDropdown(filter_id, attribute) {
            $('#' + filter_id).html('');

            attribute.forEach(function(item) {
                $('#' + filter_id).append("<option value='" + item + "'>" + item + "</option>");
            });
        }

        function requestChartData() {
            $.ajax({
                type: "GET",
                url: "{% url 'core:ofm:transfers_chart_json' %}",
                data: {
                    group_by: groupby,
                    positions: positions,
                    strengths: strengths,
                    ages: ages,
                    seasons: seasons,
                    matchdays: matchdays
                },
                dataType: 'json',
                success: function (data) {
                    transfers_chart_options.series = data['series'];
                    transfers_chart_options.xAxis.categories = data['categories'];
                    $('#transfers_chart_container').highcharts(transfers_chart_options);

                    var filters = ['ages', 'strengths', 'positions', 'seasons', 'matchdays'];

                    filters.forEach(function(filter) {
                        var filter_id = 'Transfer' + filter[0].toUpperCase() + filter.substring(1) + 'Filter';
                        fillFilterDropdown(filter_id, data[filter]);
                    });
                }
            });
        }

        $('#TransferGroupByFilter').change(function () {
            groupby = $(this).val();
        });

        $('#TransferPositionsFilter').change(function () {
            positions = $(this).val().join(",");
        });

        $('#TransferAgesFilter').change(function () {
            ages = $(this).val().join(",");
        });

        $('#TransferStrengthsFilter').change(function () {
            strengths = $(this).val().join(",");
        });

        $('#TransferSeasonsFilter').change(function () {
            seasons = $(this).val().join(",");
        });

        $('#TransferMatchdaysFilter').change(function () {
            matchdays = $(this).val().join(",");
        });

        $('#TransferFilterButton').click(function(){
            requestChartData();
        });

        $('#TransferResetButton').click(function(){
            resetFilterValues();
            requestChartData();
        });

        $(document).ready(function() {
            requestChartData();
        });
    </script>

    <br>
    <div id="transfers_chart_container"></div>
{% endblock %}
