{% extends "core/base.html" %}

{% block content %}
    {% load staticfiles %}

    <style>
        tr { cursor: default; }
        .highlight { background: yellow; }
    </style>

    <h1 class="page-header">
        Transfers
    </h1>

    <div class="transfer-detail">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10 horizontal-text-separator">
                <span>Filter</span>
            </div>
        </div>

        <div class="row filters">
            <div class="col-md-2 groupby">
                <label for="TransferGroupByFilter"><span class="glyphicon glyphicon-th-large"></span> Gruppieren nach</label>
                <select id="TransferGroupByFilter" data-placeholder="Gruppieren" class="selectpicker">
                    <option value="Strength">Stärke</option>
                    <option value="Age">Alter</option>
                    <option value="Position">Position</option>
                    <option value="Season">Saison</option>
                    <option value="Matchday">Spieltag</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="TransferPositionsFilter"><span class="flaticon-football-list-and-field-outline"></span> Position</label>
                <select id="TransferPositionsFilter" class="transfer-filter selectpicker" data-placeholder="Positionen" multiple>
                </select>
            </div>

            <div class="col-md-2">
                <label for="TransferAgesFilter"><span class="glyphicon glyphicon-gift"></span> Alter</label>
                <select id="TransferAgesFilter" class="transfer-filter selectpicker" data-placeholder="Alter" multiple>
                </select>
            </div>

            <div class="col-md-2">
                <label for="TransferStrengthsFilter"><span class="flaticon-flaming-football"></span> Stärke</label>
                <select id="TransferStrengthsFilter" class="transfer-filter selectpicker" data-placeholder="Stärke" multiple>
                </select>
            </div>

            <div class="col-md-2">
                <label for="TransferSeasonsFilter"><span class="glyphicon glyphicon-calendar"></span> Saison</label>
                <select id="TransferSeasonsFilter" class="transfer-filter selectpicker" data-placeholder="Saison" multiple>
                </select>
            </div>

            <div class="col-md-2">
                <label for="TransferMatchdaysFilter"><span class="glyphicon glyphicon-calendar"></span> Spieltag</label>
                <select id="TransferMatchdaysFilter" class="transfer-filter selectpicker" data-placeholder="Spieltag" multiple>
                </select>
            </div>
        </div>
    </div>

    <br>

    <button id="TransferFilterButton" class='btn btn-default'>
        <span class="glyphicon glyphicon-filter"></span> Filter anwenden
    </button>

    <button id="TransferResetButton" class='btn btn-default'>
        <span class="glyphicon glyphicon-repeat"></span> zurücksetzen
    </button>

    <br>
    <br>

    <div id="transfers_chart_container"></div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <label for="TransferOverviewGroupByFilter"><span class="glyphicon glyphicon-th-large"></span> Gruppieren nach</label>
            <select id="TransferOverviewGroupByFilter" data-placeholder="Gruppieren nach" class="selectpicker" multiple>
                <option value="Strength" selected>Stärke</option>
                <option value="Age" selected>Alter</option>
                <option value="Position">Position</option>
                <option value="Season">Saison</option>
                <option value="Matchday">Spieltag</option>
            </select>
        </div>
    </div>

    <br>

    <table id="TransfersOverviewTable" class="table table-striped table-bordered table-hover">
    </table>

    <script>
        var detail_groupby = 'Strength';
        var overview_groupby = 'Strength,Age';
        var strengths = '';
        var positions = '';
        var ages = '';
        var seasons = '';
        var matchdays = '';

        function resetFilterValues(){
            detail_groupby = 'Strength';
            overview_groupby = 'Strength,Age';
            strengths = '';
            positions = '';
            ages = '';
            seasons = '';
            matchdays = '';
        }

        var transfers_chart_options =  {
            chart: {
                type: 'boxplot',
                height: 650,
                zoomType: 'xy',
                panKey: 'ctrl',
                panning: true
            },
            title: {
                text: 'Spielerpreise'
            },
            xAxis: {
                categories: [], // has to be overwritten
                title: {
                    text: 'Stärke'
                }
            },
            yAxis: {
                title: {
                    text: 'Preis'
                }
            },
            plotOptions: {
                boxplot: {
                    fillColor: '#F0F0E0',
                    lineWidth: 1.5,
                    medianColor: '#24a52f',
                    medianWidth: 2,
                    stemWidth: 2,
                    whiskerColor: '#24a52f',
                    whiskerLength: '40%'
                }
            },
            series: [] // has to be overwritten
        };

        function fillFilterDropdown(filter_id, attribute) {
            var filter = $('#' + filter_id);
            if ($.trim(filter.html()) === '') {
                attribute.forEach(function (item) {
                    $('#' + filter_id).append("<option value='" + item + "'>" + item + "</option>");
                });
            }
        }

        function requestChartDetailData() {
            $.ajax({
                type: "GET",
                url: "{% url 'core:ofm:transfers_detail_chart_json' %}",
                data: {
                    group_by: detail_groupby,
                    positions: positions,
                    strengths: strengths,
                    ages: ages,
                    seasons: seasons,
                    matchdays: matchdays
                },
                dataType: 'json',
                success: function (data) {
                    transfers_chart_options.series = data['series'];
                    transfers_chart_options.xAxis.categories = data['categories'];
                    $('#transfers_chart_container').highcharts(transfers_chart_options);

                    var filters = ['ages', 'strengths', 'positions', 'seasons', 'matchdays'];

                    filters.forEach(function(filter) {
                        var filter_id = 'Transfer' + filter[0].toUpperCase() + filter.substring(1) + 'Filter';
                        fillFilterDropdown(filter_id, data[filter])
                    });
                    $('.selectpicker').selectpicker('refresh');
                }
            });
        }

        function fillOverviewTable(data){
            $('#TransfersOverviewTable').html('');

            var header_row = '<tr><th></th>';

            var group1Length = data.group1.length;
            for (var k = 0; k < group1Length; k++) {
                header_row += '<th>' + data.group1[k] + '</th>'
            }
            header_row += '</tr>';

            $('#TransfersOverviewTable').append(header_row);

            var group2Length = data.group2.length;
            for (var i = 0; i < group2Length; i++) {
                var row = '<tr><th>' + data.group2[i] + '</th>';

                var rowLength = data.medians[i].length;
                for (var j = 0; j < rowLength; j++) {
                    row += '<td>' + data.medians[i][j] + '</td>';
                }

                row += '</tr>';
                $('#TransfersOverviewTable').append(row);
            }
        }

        function requestChartOverviewData() {
            $.ajax({
                type: "GET",
                url: "{% url 'core:ofm:transfers_overview_table_json' %}",
                data: {
                    group_by: overview_groupby,
                    positions: positions,
                    strengths: strengths,
                    ages: ages,
                    seasons: seasons,
                    matchdays: matchdays
                },
                dataType: 'json',
                success: function (data) {
                    fillOverviewTable(data);
                }
            });
        }

        $('#TransferGroupByFilter').change(function () {
            detail_groupby = $(this).val();
        });

        $('#TransferOverviewGroupByFilter').change(function () {
            if ($(this).val()) {
                overview_groupby = $(this).val().join(",");
            } else {
                overview_groupby = ''
            }
        });

        $('#TransferPositionsFilter').change(function () {
            if ($(this).val()) {
                positions = $(this).val().join(",");
            } else {
                positions = ''
            }
        });

        $('#TransferAgesFilter').change(function () {
            if ($(this).val()) {
                ages = $(this).val().join(",");
            } else {
                ages = ''
            }
        });

        $('#TransferStrengthsFilter').change(function () {
            if ($(this).val()) {
                strengths = $(this).val().join(",");
            } else {
                strengths = ''
            }
        });

        $('#TransferSeasonsFilter').change(function () {
            if ($(this).val()) {
                seasons = $(this).val().join(",");
            } else {
                seasons = ''
            }
        });

        $('#TransferMatchdaysFilter').change(function () {
            if ($(this).val()) {
                matchdays = $(this).val().join(",");
            } else {
                matchdays = ''
            }
        });

        $('#TransferFilterButton').click(function(){
            requestChartDetailData();
            requestChartOverviewData();
        });

        $('#TransferResetButton').click(function(){
            resetFilterValues();
            requestChartDetailData();
            requestChartOverviewData();
        });

        resetFilterValues();

        $(document).ready(function() {
            requestChartDetailData();
            requestChartOverviewData();

            $('.selectpicker').selectpicker({
                actionsBox: true,
                selectAllText: 'Alle',
                deselectAllText: 'Keiner',
                noneSelectedText: 'Alle',
                showTick: true,
                width: '100%'
            });

            $('#TransferOverviewGroupByFilter').selectpicker({
                noneSelectedText: 'Keine Gruppierung gewählt',
                maxOptions: 2
            });

            setTimeout(makeTableSelectable, 1000);
        });

        function makeTableSelectable(){
            var cells = $('td').not(':first');

            cells.on('click', function (e) {
                var cell = $(this);

                if (e.ctrlKey || e.metaKey) {
                    /* If pressed highlight the other cell that was clicked */
                    cell.addClass('success');
                } else {
                    /* Otherwise just highlight one cell and clean other cells */
                    cells.removeClass('success');
                    cell.addClass('success');
                }
            });
        }
    </script>
{% endblock %}
