{% load staticfiles %}

{% block content %}
    <div class="footer navbar-fixed-bottom">
        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    &copy; 2016 OFM Helper &thinsp; &mdash; &thinsp; Ein Projekt von
                    <a href="https://github.com/WiSchLabs"><img src="{% static 'core/img/WiSch-Labs_lang.png' %}" id="WiSch-logo" alt="WiSch Labs" /></a>
                </p>
            </div>
        </footer>
    </div>
{% endblock %}