{% load staticfiles %}

{% block content %}

    <a href="{% url 'core:home' %}"><img src="{% static 'core/img/OFM_Helper.png' %}" id="logo" alt="OFM Helper" /></a>
    <div class="well bs-sidebar" id="sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url 'core:home' %}">
                    <span class="glyphicon glyphicon-home"></span> Home
                </a>
            </li>
    {% if not user.is_authenticated %}
            <li>
                <a href="{% url 'core:register' %}">
                    <span class="glyphicon glyphicon-pencil"></span> Registrieren
                </a>
            </li>
            <li>
                <a href="{% url 'core:login' %}">
                    <span class="glyphicon glyphicon-log-in"></span> Login
                </a>
            </li>
    {% else %}
            <li>
                <a href="{% url 'core:account' %}">
                    <span class="glyphicon glyphicon-user"></span> Mein Account
                </a>
            </li>
            <li>

                <a data-target="#OfmSubMenu" data-toggle="collapse">
                    <span class="glyphicon glyphicon-ofm">
                        <img src="{% static 'core/img/OFM_icon.png' %}"/>
                    </span>
                    Statistiken
                </a>

                <ul class="collapse nav nav-sub" id="OfmSubMenu">
                    <li>
                        <a href="{% url 'core:ofm:player_statistics' %}">
                            <span class="flaticon-football-player-setting-ball"></span> Meine Spieler
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:ofm:finance_overview' %}">
                            <span class="glyphicon glyphicon-euro"></span> Meine Finanzen
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:ofm:matches_overview' %}">
                            <span class="flaticon-whistle"></span> Meine Spiele
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'core:ofm:stadium_statistics_overview' %}">
                            <span class="flaticon-football-court-illumination-lamps"></span> Mein Stadion
                        </a>
                    </li>
                </ul>

            </li>

            {% if user.is_staff %}
                <li><a href="{% url 'admin:login' %}"><span class="glyphicon glyphicon-console"></span> Admin</a></li>
            {% endif %}

            <li>
                <a href="{% url 'core:logout' %}">
                    <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
            </li>
    {% endif %}
        </ul>
    </div>

    {% if 'ofm' in request.path %}
        <script src="{% static 'core/js/toggle_ofm_menu.js' %}"></script>
    {% endif %}

{% endblock %}
