{% extends "core/base.html" %}

    {% load staticfiles %}

{% block content %}
    <h1 class="page-header">Hey {{ user.username }}</h1>
    <p>
        Willkommen in deinem persönlichen Bereich.
    </p>
    <br>
    <form action="{% url 'core:trigger_parsing' %}" method="get">
        {% csrf_token %}

        Um die neuesten Daten von OFM zu laden klicke hier:
        <button type="submit" class="btn btn-default" id="OfmParseTrigger">
            <span class="glyphicon glyphicon-refresh"></span> jetzt alles parsen
        </button>
        (Dies kann ein paar Sekunden dauern)
    </form>
    <br>
    <p>
        <span class="glyphicon glyphicon-chevron-left"></span>
        Die aufbereiteten Daten findest du anschließend in den Statistiken, welche du links im Menü auswählen kannst.
    </p>

    <script src="{% static 'core/js/parsing_overlay.js' %}"></script>

{% endblock %}