{% extends "core/base.html" %}

{% block content %}
    <h1>Register</h1>

    {% if registered %}
        <strong>Thank you for registering!</strong> <a href="{% url 'core:login' %}">Login here</a>.
    {% else %}
        <form id="user_form" method="post" action="{% url 'core:register' %}">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <div class="form-group">
                <label for="username">Chosse a username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
            <div class="form-group">
                <label for="email">What is your E-mail? <small>(we won't spam you)</small></label>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Choose a new password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
            <div class="form-group">
                <label for="password2">Confirm password</label>
                <input type="password" class="form-control" id="password2" placeholder="Password" name="password2">
            </div>
            <div class="form-group">
                <label for="ofm_username">Your OFM Username</label>
                <input type="text" class="form-control" id="ofm_username" placeholder="Username" name="ofm_username">
            </div>
            <div class="form-group">
                <label for="ofm_password">Your OFM Password</label>
                <input type="password" class="form-control" id="ofm_password" placeholder="OFM password" name="ofm_password">
            </div>
            <div class="form-group">
                <label for="ofm_password2">Confirm OFM password</label>
                <input type="password" class="form-control" id="ofm_password2" placeholder="OFM password" name="ofm_password2">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <br><br>
        <p>
            Already have an account? <a href="{% url 'core:login' %}">Login here</a>.
        </p>
    {% endif %}
{% endblock %}