{% extends "core/base.html" %}

    {% load staticfiles %}

{% block content %}
    <h1>Registrierung</h1>

    {% if registered %}
        <strong>Vielen Dank für die Registrierung!</strong> <a href="{% url 'core:account:login' %}">Hier geht's zum Login</a>.
    {% else %}
        <form id="user_form" method="post" action="{% url 'core:account:register' %}">

            {% csrf_token %}

            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            <div class="form-group">
                <label for="username">Wähle einen Benutzernamen</label>
                <input type="text" class="form-control" id="username" placeholder="Benutzername" name="username">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email" class="form-control" id="email" placeholder="E-Mail" name="email">
            </div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" class="form-control" id="password" placeholder="Passwort" name="password">
            </div>
            <div class="form-group">
                <label for="password2">Passwort wiederholen</label>
                <input type="password" class="form-control" id="password2" placeholder="Passwort" name="password2">
            </div>
            <div class="form-group">
                <label for="ofm_username">
                    <span class="glyphicon glyphicon-ofm">
                        <img src="{% static 'core/img/OFM_icon.png' %}"/>
                    </span>
                    Dein OFM Benutzername
                </label>
                <input type="text" class="form-control" id="ofm_username" placeholder="OFM Benutzername" name="ofm_username">
            </div>
            <div class="form-group">
                <label for="ofm_password">
                    <span class="glyphicon glyphicon-ofm">
                        <img src="{% static 'core/img/OFM_icon.png' %}"/>
                    </span>
                    Dein OFM Passwort
                </label>
                <input type="password" class="form-control" id="ofm_password" placeholder="OFM Passwort" name="ofm_password">
            </div>
            <div class="form-group">
                <label for="ofm_password2">
                    <span class="glyphicon glyphicon-ofm">
                        <img src="{% static 'core/img/OFM_icon.png' %}"/>
                    </span>
                    OFM Passwort wiederholen
                </label>
                <input type="password" class="form-control" id="ofm_password2" placeholder="OFM Passwort" name="ofm_password2">
            </div>

            <button type="submit" class="btn btn-success">Registrieren</button>
        </form>
        <br><br>
        <p>
            Du hast bereits einen Account bei uns? <a href="{% url 'core:account:login' %}">Hier geht's zum Login</a>.
        </p>
    {% endif %}
{% endblock %}
