{% extends "core/base.html" %}

    {% load staticfiles %}

{% block content %}
    <h1 class="page-header">Einstellungen</h1>
    <p>
        Hier kannst du deine persönlichen Einstellungen anpassen.
    </p>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingAccountData">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAccountData" aria-expanded="true" aria-controls="collapseAccountData">
                <span class="glyphicon glyphicon-pencil"></span>
                Registrierungsdaten
            </a>
          </h4>
        </div>
        <div id="collapseAccountData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAccountData">
          <div class="panel-body">
            <form id="user_form" method="post" action="{% url 'core:settings' %}">

                {% csrf_token %}

                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                <div class="form-group">
                    <label for="username">Benutzername</label>
                    <input type="email" class="form-control" id="email" placeholder="E-Mail" name="email" value="{{ user.username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" class="form-control" id="email" placeholder="E-Mail" name="email" value="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="password">Neues Passwort</label>
                    <input type="password" class="form-control" id="password" placeholder="Passwort" name="password">
                </div>
                <div class="form-group">
                    <label for="password2">Neues Passwort bestätigen</label>
                    <input type="password" class="form-control" id="password2" placeholder="Passwort" name="password2">
                </div>

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOFMData">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOFMData" aria-expanded="false" aria-controls="collapseOFMData">
                <span class="glyphicon glyphicon-ofm"><img src="{% static 'core/img/OFM_icon.png' %}"/></span>
                OFM-Zugangsdaten
            </a>
          </h4>
        </div>
        <div id="collapseOFMData" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOFMData">
          <div class="panel-body">
            <form id="user_form" method="post" action="{% url 'core:settings' %}">

                {% csrf_token %}

                <!-- Display each form. The as_p method wraps each element in a paragraph
                     (<p>) element. This ensures each element appears on a new line,
                     making everything look neater. -->
                <div class="form-group">
                    <label for="ofm_username">
                        OFM Benutzername
                    </label>
                    <input type="text" class="form-control" id="ofm_username" placeholder="OFM Benutzername" name="ofm_username" value="{{ user.ofm_username }}" disabled>
                </div>
                <div class="form-group">
                    <label for="ofm_password">
                        Neues OFM Passwort
                    </label>
                    <input type="password" class="form-control" id="ofm_password" placeholder="OFM Passwort" name="ofm_password" value="{{ user.ofm_password }}">
                </div>
                <div class="form-group">
                    <label for="ofm_password2">
                        Neues OFM Passwort bestätigen
                    </label>
                    <input type="password" class="form-control" id="ofm_password2" placeholder="OFM Passwort" name="ofm_password2" value="{{ user.ofm_password }}">
                </div>

                <button type="submit" class="btn btn-success">Speichern</button>
            </form>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingParserSettings">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseParserSettings" aria-expanded="false" aria-controls="collapseParserSettings">
                <span class="glyphicon glyphicon-download"></span>
                Parser-Einstellung
            </a>
          </h4>
        </div>
        <div id="collapseParserSettings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingParserSettings">
          <div class="panel-body">
            <span style="color:darkgray;">Demnächst.</span>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingChecklistSettings">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseChecklistSettings" aria-expanded="false" aria-controls="collapseChecklistSettings">
                <span class="glyphicon glyphicon-list"></span>
                Tägliche Checkliste
            </a>
          </h4>
        </div>
        <div id="collapseChecklistSettings" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingChecklistSettings">
          <div class="panel-body">
            <span>Du hast noch keine Einträge in deiner täglichen Checkliste.</span>
              <div id="checklist_items">
              </div>
              <a href="#" id="add_checklist_item" class="btn btn-success">
                  <span class="glyphicon glyphicon-plus"></span>
                  neuer Eintrag
              </a>
          </div>
        </div>
      </div>

    </div>

    <script src="{% static 'core/js/checklist_handler.js' %}"></script>

{% endblock %}
